<span class="left">
    <span class="feed-icon">
      {{#if feed.faviconLink}}
          <img src="{{feed.faviconLink}}" alt="feed-icon"/>
      {{else}}
          <span class="fa fa-feed"></span>
      {{/if}}
    </span>
    <span class="feed-title">{{feed.title}}</span>
</span>

<span class="right">
    {{#if feed.unreadCount}}
        <span class="label label-default label-pill unread-count">
          {{feed.unreadCount}}
        </span>
    {{/if}}
    <span class="fa fa-chevron-right"></span>
</span>

