<span class="left">
    <span class="feed-icon">
      {{#if feed.feedIcon}}
          <img src="{{feed.feedIcon}}" alt="feed-icon"/>
      {{else}}
          <span class="fa fa-feed"></span>
      {{/if}}
    </span>
    <span class="feed-title">
      {{#link-to "feeds.single" feed}}{{feed.title}}{{/link-to}}
    </span>
</span>

<span class="right">
    {{#if feed.unreadCount}}
        <span class="label label-default label-pill unread-count">
          {{feed.unreadCount}}
        </span>
    {{/if}}
    <span class="fa fa-chevron-right"></span>
</span>

