<div class="card starred">
    <div class="card-block">
        <div class="card-title">
            <div class="feed-items-header">
                <div class="feed-icon">
                    <i class="fa fa-bookmark"></i>
                </div>
                <div class="feed-title">Your Bookmarks</div>
            </div>
        </div>
    </div>
  {{item-list items=model}}
</div>
