@import 'color-scheme';

$border-radius: 0;
$btn-secondary-color: $color-secondary-1-0;
$btn-secondary-bg: $color-secondary-1-4;
//$btn-secondary-color: $color-secondary-1-1;
$btn-secondary-border: $color-primary-1;
$label-default-bg: $color-primary-3;
$enable-flex: true;
$card-border-color: $color-secondary-1-0;

@import '../../bower_components/bootstrap/scss/bootstrap';
@import '../../bower_components/font-awesome/scss/font-awesome';
@import '../../bower_components/hint.css/src/hint';

$header_height: 6rem;

@mixin default-background {
  background-color: $color-primary-4;
  color: $color-secondary-1-0;
}

body, html {
  width: 100%;
}

body {
  color: $color-primary-4;
}

body > div.ember-view {
  display: flex;
  flex-flow: row wrap;
}

.header, .main {
  flex: 1 100%;
}

.main {
  .card {
    border-left: none;
    border-right: none;
  }
}

.loader {
  padding-top: 5rem;
  text-align: center;
  @include center-block;
}

.action {
  cursor: pointer;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  //justify-content: space-between;
  height: $header_height;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  border-radius: 0;
  @include default-background;

  .navbar-brand {
    //align-self: flex-start;
    color: #1f7e9a;
    img.logo {
      max-width: $header_height;
      max-height: $header_height;
    }
  }
  .nav-buttons {
    //align-self: flex-end;
  }
}

@mixin placeholder {
  ::-webkit-input-placeholder {
    @content
  }
  :-moz-placeholder {
    @content
  }
  ::-moz-placeholder {
    @content
  }
  :-ms-input-placeholder {
    @content
  }
}

@include placeholder {
  font-style: italic;
  color: #666;
  font-weight: normal;
}

input {
  margin-top: 15px;
  margin-bottom: 15px;
  background: $color-secondary-1-0 !important;
  border-width: 0 !important;
}

.folder-list .folder-item {
  .folder-action {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include default-background;
  }
  .label {
    background: $color-secondary-1-0;
  }
}

.folder-feeds .card-block {
  padding: 0;
}

.feed-icon {
  max-width: 1rem;
  overflow: hidden;
}

.feed-item {
  display: flex;
  width: inherit;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .feed-title {
    margin: 0 10px;
    font-size: 0.9em;
  }

  .left {
    align-self: flex-start;
  }

  .right {
    align-self: flex-end;
  }

  .feed-icon {
    align-self: flex-start;
    max-width: 1rem;

    img {
      max-width: inherit;
    }
  }

  .feed-title {
    align-self: flex-start;
  }

  .fa-chevron-right, .unread-count {
    align-self: flex-end;
  }

}

.feeds-feed {

  .feed-items-header {
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .feed-icon {
      max-width: 1.5rem;
      oveflow: hidden;
      img {
        max-width: inherit;
      }
    }

    .feed-title {
      margin-left:1rem;
      flex:1;
      text-align: center;
      font-size: x-large;
    }

    .feed-unread-count {
      //width:3rem;
    }

    .feed-item-actions {
      margin-right:1rem;
      margin-left:1rem;
      width:2rem;
      align-self: flex-end;
    }
  }

}

@mixin firstPicOfArticle {
  float: left;
  width: 65px;
  height: 65px;
  border-radius: 3px;
  margin-right: 20px;
}

.item-container {
  box-shadow: inset 0 0 .6rem rgba(111, 111, 111, 0.2);
  -webkit-box-shadow: inset 0 0 .6rem rgba(111, 111, 111, 0.2);
}

.item-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include default-background;
}

.item-button-group {
  align-self: flex-end;
}

.item-meta {
  font-style: italic;
  padding-bottom: 5px;
}

.item.is-unread > .item-title {
  font-weight: bold;
}

.item-text {
  clear: both;
  min-height: 75px;
}

.item-body {
  $item_body_headings_color: #1A5A7A;
  h1 {
    font-size: $font-size-h1 - 0.2rem;
    border-bottom: 0.2rem;
  }
  h5 {
    font-size: $font-size-h5 - 0.2rem;
  }
  h1, h2, h3, h4, h5 {
    border-bottom: 1px solid $item_body_headings_color;
    padding: 0.2rem;
    color: $item_body_headings_color;
  }
}

.item-body {
  img {
    max-width: 90%
  }
}

.item > .item-container > .item-text > .item-body > img:first-child {
  @include firstPicOfArticle();
}

.item > .item-container > .item-text > .item-body > a:first-child > img {
  @include firstPicOfArticle();
}

.item-list {
  background: #eee;
}

.feed-items-list, .folder-feeds, .app-settings {
  margin-top: 1rem;
}

.feed-items-list > .card > .card-header {
  margin-bottom: $table-cell-padding;
}

.feed-item-link {
  cursor: pointer;
}

.feed-item-link:hover, .feed-item-link:active {
  background: $color-secondary-1-0;
}

//.btn-secondary-outline {
//  color: #666;
//}

.item-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.app-settings .card .card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  @include default-background;
}

@import "media-queries";
@import "ember-power-select";
