@import '../../bower_components/bootstrap/scss/bootstrap';
@import '../../bower_components/font-awesome/scss/font-awesome';
@import '../../bower_components/hint.css/src/hint';

$enable-flex: true;

.loader {
  display:table-cell;
  vertical-align: middle;
  margin:auto auto;
}

input {
  margin-top: 15px;
  margin-bottom: 15px;
  background: #F1F1F1 !important;
  border-width: 0 !important;
}

.folder-feeds .card-block {
  padding: 0;
}

.feed-favicon > img {
  height: 0.8em;
  max-height: 0.8em;
  max-width: 0.8em;
  overflow: hidden;
}

.feed-title {
  margin: 0 10px;
  font-size: 0.9em;
}

.folder-close {
  cursor: pointer;
}

blockquote {
  background: #eee;
  padding: 5px;
}

.item-meta {
  font-style: italic;
  padding-bottom: 5px;
}

@mixin firstPicOfArticle {
  float: left;
  width: 65px;
  height: 65px;
  border-radius: 3px;
  margin-right: 20px;
}

.item.is-unread > .item-title {
  font-weight: bold;
}

.item-text {
  clear: both;
  min-height: 75px;
}

.item-body {
  img {
    max-width: 90%
  }
}

.item > .item-container > .item-text > .item-body > img:first-child {
  @include firstPicOfArticle();
}

.item > .item-container > .item-text > .item-body > a:first-child > img {
  @include firstPicOfArticle();
}

.item-list {
  background:#eee;
}

.feed-items-list, .folder-feeds, .app-settings {
  margin-top: 1rem;
}
.feed-items-list > .card > .card-header {
  margin-bottom: $table-cell-padding;
}

.feed-item {
  cursor: pointer;
}

.feed-item:hover {
  background: #eee;
}
