<form {{action "submit" on="submit"}} class="ui form">
  <div class="ui toggle checkbox">
    {{input type="checkbox" checked=settings.allowEmbedded change=(action "submit")}}
    <label>Allow embed of media (like youtube, vimeo, iframes, etc.)?</label>
  </div>
</form>