<form {{action "submit" on="submit"}} class="ui form">
  <div class="inline field">
    {{ui-checkbox
      class="toggle"
      label="Allow embed of media (like youtube, vimeo, iframes, etc.)?"
      checked=articleSettings.allowEmbedded
      id="allow-embedded"
      change=(action "submit")
    }}
  </div>
</form>