{{#each feeds as |feed|}}
    <div class="item">
      {{#link-to "feeds.show.items" feed}}
        {{feed.title}}
      {{/link-to}}
      {{#if feed.unreadCount}}
          <div class="ui label action" {{action "markAllRead" feed}}>{{feed.unreadCount}}</div>
      {{/if}}
    </div>
{{/each}}