{{#each feeds as |feed|}}
  {{#link-to "feeds.show.articles" feed classNames="item"}}
    <img src="{{feed.feedIcon}}" class="ui mini inline feed-icon image"/>
    {{feed.title}}
    {{#if feed.unreadCount}}
      <div class="ui blue label action">{{feed.unreadCount}}</div>
    {{/if}}
  {{/link-to}}
{{/each}}