{{#each feeds as |feed|}}
  {{#link-to "index.feeds.show.items" feed classNames="item"}}
    {{feed.title}}
    {{#if feed.unreadCount}}
        <div class="ui label">{{feed.unreadCount}}</div>
    {{/if}}
  {{/link-to}}
{{/each}}