<div class="card">
    <div class="card-header">
        <h2>{{feed.title}}</h2>
    </div>

    <div class="card-block">
        <div class="card-text">
          {{item-list items=feed.items feed=feed}}
        </div>
    </div>

</div>
