<div id="side-bar" class="ui vertical inverted menu">

  <div class="item">
    <div class="header">
      <a href="/">AOC NEWS</a>
    </div>
  </div>

  <div class="item">
    {{#link-to "settings"}}
      <i class="icon wrench"></i>
      Settings
    {{/link-to}}
  </div>

  {{outlet "sidebar-left"}}

</div>

<div id="article-list">
  {{outlet "article-list"}}
</div>

<div id="content">
  {{outlet "main"}}
</div>

<div id="article-overlay">
  {{outlet "article-overlay"}}
</div>
