<header class="navbar navbar-light header">

    <a class="navbar-brand" href="/">
        <img class="logo" src="/img/AONews_Logo.png" alt="Ambitious OC News Logo"/>
    </a>

    <div class="btn-group">
      {{#link-to "feeds" classNames="btn btn-secondary"}}
          <i class="fa fa-list"></i>
      {{/link-to}}
      {{#link-to "settings" classNames="btn btn-secondary" tagName="li"}}
          <i class="fa fa-cog"></i>
      {{/link-to}}
    </div>
</header>

<div class="main container-fluid">
  {{outlet}}
</div>
