<div class="ui pushable segment component context">
  {{#ui-sidebar class="visible very wide menu left inline vertical" context=".component.context" id="sub-sidebar"}}
      <div class="ui relaxed celled list">
        {{#each model.folders as |folder|}}
            <div class="item">
                <div class="content">
                    <div class="header">{{folder.name}}</div>
                  {{feed-list feeds=folder.feeds}}
                </div>
            </div>
        {{/each}}

          {{feed-list feeds=model.feeds}}

      </div>
  {{/ui-sidebar}}
    <div class="pusher">
        <div class="ui basic segment" style="min-height: 300px">
          {{outlet}}
        </div>
    </div>
</div>