<div id="sidebar-container">
    <div class="ui visible sidebar inverted vertical left menu">
        <div class="item">
            <div class="header">
                <a href="/">AOC NEWS</a>
            </div>
        </div>
        <div class="item">
          {{#link-to "index.settings"}}
              <i class="icon wrench"></i>
              Settings
          {{/link-to}}
        </div>
      {{liquid-outlet "sidebar"}}
    </div>
    <div class="ui top fixed menu">
        <div class="item">
            <i class="ui icon wrench"></i>
        </div>
      {{liquid-outlet "top-menu"}}
    </div>
</div>

<div class="pusher">
    <div class="ui basic segment">
        <div class="content">
          {{liquid-outlet "main" class="articles-outlet-class"}}
        </div>
    </div>
</div>


