<div id="bottom-attached" class="ui bottom attached segment">

    <div class="sidebar-container four wide column">
      {{sustain 'components/side-bar' model}}
    </div>

    <div id="pusher" class="pusher">
        <div id="main" class="ui container ten wide column">
            <div class="ui basic segment">
              {{liquid-outlet "main" class="articles-outlet-class"}}
            </div>
        </div>
    </div>
</div>