<screen>
    <page>
        <hbox class="ui pushable component segment component context">

          {{sustain 'components/side-bar' model}}

            <div class="pusher">
                <hbox id="main" class="ui basic segment">
                  {{liquid-outlet "main"}}
                </hbox>
            </div>
        </hbox>

    </page>
</screen>