<div id="bottom-attached" class="ui bottom attached segment">

    <div class="sidebar-container">
      {{sustain 'components/side-bar' model}}
    </div>

    <div id="pusher" class="pusher">
        <div class="full height">
          {{liquid-outlet "main" class="articles-outlet-class"}}
        </div>
    </div>
</div>