<div class="ui bottom attached segment">
    <div class="sidebar-container">
      {{sustain 'components/side-bar' model}}
    </div>
    <div class="pusher">
        <div id="main" class="ui container">
            <div class="ui basic segment">
              {{liquid-outlet "main"}}
            </div>
        </div>
    </div>
    <div class="fixed inverted vertical footer segment">
        See project at Github
    </div>
</div>
