{{!--{{feed-items-list feed=model}}--}}
<div class="card">
    <div class="card-block">
        <h4 class="card-title">{{feed-item feed=model display="single" markAllRead="markAllRead"}}</h4>
    </div>

  {{outlet}}

</div>

