{{!--{{feed-items-list feed=model}}--}}
<div class="card">
    <div class="card-block">
        <div class="card-title">{{feed-item feed=model display="single" markAllRead="markAllRead"}}</div>
    </div>

  {{outlet}}

</div>

