<span class="left">
    <span class="feed-icon">
          <span class="fa fa-bookmark"></span>
    </span>
    <span class="feed-title">Bookmarked</span>
</span>

<span class="right">
    {{#if starredCount}}
        <span class="label label-info label-pill unread-count">
          {{starredCount}}
        </span>
    {{/if}}
    <span class="fa fa-chevron-right"></span>
</span>