<div class="ui one column stackable center aligned page grid">
    <div class="column twelve wide">
        <div class="ui info message">
            Select a feed on the left to get started
        </div>
    </div>
</div>