<div id="articles">
  {{article-list articles=model}}
</div>

{{#infinity-loader infinityModel=model destroyOnInfinity=true}}
    <div>
      {{partial "loading-articles"}}
    </div>
{{/infinity-loader}}

{{outlet}}
