<div class="settings">

  {{#settings-block class="connection-settings" title="Connection Settings"}}
    {{config-form config=model.conn submit="setupConnection"}}
  {{/settings-block}}

  {{#settings-block class="add-feed" title="Add Feed"}}
    {{add-feed folders=model.folders
    feed=model.feed
    createFolder=(route-action "createFolder")
    submit="createFeed"}}
  {{/settings-block}}

  {{#settings-block class="content-settings" title="Article settings"}}
    {{article-settings articleSettings=model.articleSettings submit="saveArticleSettings"}}
  {{/settings-block}}

</div>

{{outlet}}
