{{#if model.feeds}}
  <div class="item">
    <div class="header">Feeds</div>
    {{feed-list feeds=model.feeds}}
  </div>
{{/if}}

{{#each model.folders as |folder|}}
  <div class="item">
    <div class="header">
      {{#link-to "folder.edit" folder}}
        {{folder.name}}
      {{/link-to}}
    </div>
    {{feed-list feeds=folder.feeds}}
  </div>
{{/each}}