<div class="folder-feeds">

  {{#feed-item-nav}}
    {{all-items items=model.items}}
    {{starred-items items=model.starred}}
  {{/feed-item-nav}}

  {{#each model.unfoldered as |feed|}}
      {{feed-item feed=feed display="list"}}
  {{/each}}

  {{folder-list folders=model.folders}}

</div>
