<div class="item">
    <div class="header">
        <a href="/">AOC NEWS</a>
    </div>
</div>

<div class="item">
  {{#link-to "settings"}}
      <i class="icon wrench"></i>
      Settings
  {{/link-to}}
</div>

{{#if model.feeds}}
    <div class="item">
        <div class="header">Feeds</div>
      {{feed-list feeds=model.feeds}}
    </div>
{{/if}}

{{#each model.folders as |folder|}}
    <div class="item">
        <div class="header">{{folder.name}}</div>
      {{feed-list feeds=folder.feeds}}
    </div>
{{/each}}
