$sideBarWidth:260px;

.ui.left.sidebar {
  width:$sideBarWidth;
}

.pusher {
  padding-left:$sideBarWidth;

  .article-list {
    padding-top: 3.5em;
  }
}

.action {
  cursor:pointer;
}

.article-content {
  position:absolute;
  top:3.5em;
  left:0;
  height:inherit;
  background:#fff;
  width:100%;
}

