$sideBarWidth:260px;

.ui.left.sidebar {
  width:$sideBarWidth;
}

.pusher {
  padding-left:$sideBarWidth;

  .articles-outlet-class {
    padding-top: 3.5rem;
  }
}

.action {
  cursor:pointer;
}

.article-list {
  border-right:2px solid #ccc;
  max-height:inherit;
  overflow:hidden;
}

.article.item {
  position: relative;
  top:0;
  right:0;
}

blockquote {
  padding-left:1.3rem;
  border-left:1px solid #ccc;
}
