<div class="ui grid articles-container">

    <div id="article-list-container" class="article-list seven wide column">
      {{article-list articles=model onOpenArticle="openModal"}}
    </div>

    <div id="article-content-container" class="article-content-container nine wide column">
      {{liquid-outlet "article-content"}}
    </div>

</div>

{{#infinity-loader infinityModel=model destroyOnInfinity=true}}
  {{partial "loading-articles"}}
{{/infinity-loader}}

