<div id="article-list-container" class="article-list">
  {{article-list articles=model onOpenArticle="openModal"}}

  {{#infinity-loader infinityModel=model scrollable="#article-list-container" destroyOnInfinity=true}}
    {{partial "loading-articles"}}
  {{/infinity-loader}}

</div>

<div id="article-content-container" class="article-content-container">
  {{liquid-outlet "article-content"}}
</div>

