<div class="ui icon info message">
  <i class="notched circle loading icon"></i>
  <div class="content">
    <div class="header">
      Just one second
    </div>
    <p>More articles are loaded for you.</p>
  </div>
</div>