<div id="feed-header" class="ui top fixed two item menu">

  <div class="item">
    Pinned
  </div>

  {{#link-to "feeds" classNames="item"}}
    <i class="arrow left icon"></i>
  {{/link-to}}
</div>

<div id="article-list-container">

  {{article-list articleShowRoute="feeds.pinned.show.article" articles=model}}

  {{#infinity-loader infinityModel=model scrollable="#article-list" destroyOnInfinity=true}}
    {{partial "loading-articles"}}
  {{/infinity-loader}}

</div>